/* ====================== vars =============== */
:root {
  --btn-color: #3acec2;
  --bg-img: url(../img/logo.jpg);
}
/* ====================== no delete =============== */
.col__button {
  background: var(--btn-color);
}

/* ====================== media queries =============== */
@media (min-width: 769px) {
  :root {
    --btn-color: rgb(188, 32, 35);
  }
  .main-header__logo {
    background-image: var(--bg-img);
  }
}

@media (min-width: 1025px) {
  :root {
    --btn-color: rgb(51, 156, 9);
    --bg-img: url(../img/logo1.jpg);
  }
}
