@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Ubuntu", sans-serif;
}
a {
  color: #2772b0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
}
.col {
  padding: 12px;
  margin-bottom: 1rem;
}

.col img {
  width: 100%;
  max-width: 100%;
}
.purple {
  background-color: rgba(128, 0, 128, 0.2);
}
.green {
  background-color: rgba(0, 128, 0, 0.2);
}
.yellow {
  background-color: rgba(255, 255, 0, 0.2);
}
.steelblue {
  background-color: rgba(70, 130, 180, 0.2);
}
