.content {
    max-width: 1200px;
    margin: auto;
  }
  .nav {
    margin-top: 13px;
    padding: 17px 0px;
  }
  .decor {
    text-decoration: none;
    color: black;
    font-size: 22px;
  }
  .eng {
    font-family: tourney;
    font-weight: bold;
    margin-right: 50px;
  }
  .slash {
    margin-left: 10px;
    margin-right: 10px;
  }
  .staatliches {
    font-family: staatliches;
  }
  .title {
    text-align: left;
    display: inline-block;
    font-family: francois one;
    font-size: 36px;
    margin-right: 10px;
  }
  .chapter {
    display: inline-block;
    font-family: farro;
    font-size: 20px;
    vertical-align: 23px;
  }
  .paragraph {
    font-family: pt sans;
    font-size: 28px;
    margin-top: 40px;
  }
  .underline {
    text-decoration: underline;
  }
  .article {
    margin-top: 70px;
  }
  .italic {
    font-style: italic;
  }
  .reactdocs:after {
    content: "<Text>";
    background-color: #dadada;
  }
  .bg_gray {
    background-color: #dadada;
  }
  .before::before {
    content: "+  ";
    font-weight: bold;
  }
  .bold {
    font-weight: bold;
  }
  p {
    line-height: 48px;
  }