* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: sans-serif; }

ul, li {
  list-style-type: none; }

.container {
  max-width: 960px;
  margin: 0 auto;
  height: 100%;
  padding: 70px 0; }

.overlay {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #170e40;
  opacity: .85; }

.slider {
  max-width: 780px; }

.button {
  border: 2px solid #00e0d0;
  color: #00e0d0;
  border-radius: 5px;
  display: block;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  line-height: 40px;
  font-family: Myriad, sans-serif; }

.button:hover {
  color: white;
  background: #00e0d0; }

.section-header {
  background: url(../img/bg_sectionHeader.png.jpg) no-repeat center top/cover; }

.container-header {
  padding-top: 15px; }

.mainHeader {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.mainHeader__logo {
  width: 130px; }

.mainHeaderNav__items {
  display: flex;
  align-items: center; }

.mainHeaderNav__item {
  align-items: center; }

.mainHeaderNav__item a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 13px;
  transition: color .2s;
  padding: 15px 10px; }

.mainHeaderNav__item a:hover {
  color: #00e0d0;
  cursor: pointer; }

.mainHeaderNav__item-active a {
  color: #00e0d0; }

.slider-header {
  margin: 175px auto 0 auto;
  max-width: 800px;
  text-align: center;
  align-items: center; }

.mainTitle {
  color: white;
  text-align: center;
  font-family: Playfair Display, sans-serif;
  font-size: 32px;
  font-weight: bold; }

.separator {
  width: 50px;
  border: 1px solid #00e0d0;
  background: #00e0d0;
  margin: 25px auto 30px auto; }

.innerContent {
  font-size: 14px;
  color: white;
  text-align: center;
  margin: 15px auto;
  font-family: Roboto, sans-serif; }

.button__header {
  margin: 50px auto 0 auto; }

.button-mod {
  width: 120px;
  margin: 0 auto; }

.slider__dotter {
  display: flex;
  justify-content: center;
  margin: 120px auto 0 auto; }

.dotterItem {
  border: 1px solid #fff;
  width: 8px;
  height: 8px;
  margin: 0 2px;
  border-radius: 50%;
  transition: color .4s; }

.dotterItem-active {
  border: 1px solid #00e0d0;
  background: #00e0d0;
  cursor: pointer; }

.dotterItem:hover {
  border: 1px solid #00e0d0;
  background: #00e0d0;
  cursor: pointer; }

.sectionAbout {
  font-family: Myriad, sans-serif; }

.container-About {
  display: flex;
  justify-content: space-between; }

.aboutLogo {
  max-width: 410px;
  margin: 0 auto; }

.mainSectionAbout {
  align-items: center;
  width: 550px; }

.ourStory {
  font-size: 22px;
  padding-bottom: 30px;
  font-family: Myriad, sans-serif; }

.aboutText {
  font-size: 14px;
  padding-bottom: 30px; }

.button-mod__About {
  width: 120px; }

.section-play {
  background: url(../img/bg_sectionAbout.jpg) no-repeat center top/cover; }

.container-play {
  display: flex;
  justify-content: center;
  vertical-align: middle; }

.play__items {
  text-align: center;
  margin-top: 130px;
  margin-bottom: 130px; }

.playButton:hover {
  background: #00e0d0;
  border-radius: 50%;
  opacity: 1 !important; }

.watchOurStory {
  text-transform: uppercase;
  font-size: 16px;
  color: white;
  padding-top: 33px; }

.zagolovok {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-family: Playfair Display, serif; }

.zagolovok_2 {
  font-size: 14px;
  text-align: center;
  padding-top: 15px;
  font-weight: bold;
  color: #78777b; }

.separatorGray {
  border: 1px solid #78777b;
  background: #78777b; }

.blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.block {
  text-align: center;
  width: 310px;
  height: 250px;
  padding: 35px; }

.block img {
  height: 50px;
  width: auto; }

.zagolovokInBlock {
  font-size: 14px;
  font-weight: bold;
  font-family: Myriad, sans-serif;
  padding-top: 30px;
  text-transform: uppercase; }

.blockContent {
  font-size: 14px;
  font-family: Myriad, sans-serif;
  padding-top: 30px;
  color: #78777b; }

.blockMod_1 {
  border-bottom: 1px solid #78777b;
  border-top: none;
  border-right: none;
  border-left: none; }

.blockMod_2 {
  border-bottom: 1px solid #78777b;
  border-right: 1px solid #78777b;
  border-left: 1px solid #78777b; }

.blockMod_3 {
  border-bottom: 1px solid #78777b; }

.blockMod_5 {
  border-right: 1px solid #78777b;
  border-left: 1px solid #78777b; }

.container-contactUs {
  display: flex;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto;
  justify-content: center;
  height: auto; }

.contact__goodNews {
  max-width: 510px;
  padding: 10px; }

.news {
  padding: 20px 0; }

.name {
  width: 95%;
  display: block;
  margin-bottom: 15px;
  border-radius: 2px;
  border: 1px solid grey;
  padding: 10px; }

.massage {
  border-radius: 2px; }

.submit {
  background: none;
  width: 120px;
  height: 40px;
  margin-top: 15px; }

.nameMassage {
  min-height: 200px;
  padding: 10px;
  display: block;
  border-radius: 2px;
  border: 1px solid grey;
  margin-bottom: 15px;
  width: 95%;
  vertical-align: top; }

.contact__happyClient {
  padding: 10px; }

.clients {
  padding: 20px 0 0 40px; }

.blockLable {
  max-width: 450px;
  min-width: 320px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.lables__block {
  height: 85px;
  width: 160px;
  margin: 0 25px;
  display: flex;
  justify-content: center;
  align-items: center; }

.team {
  background: url(../img/bg_sectionHeader.png.jpg) no-repeat center top/cover;
  position: relative; }

.overlayTeam {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #170e40;
  opacity: .85; }

.container-team {
  z-index: 2;
  position: relative; }

.titleTeam {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-family: Playfair Display, serif;
  color: white; }

.titleTeam_2 {
  font-size: 14px;
  text-align: center;
  padding-top: 15px;
  font-weight: bold;
  color: #c7c4d0; }

.separatorGray {
  border: 1px solid #c7c4d0;
  background: #c7c4d0; }

.teamPhotos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.teamPhoto {
  width: 230px;
  height: 300px;
  border: 2px solid #7a778f;
  margin: 5px; }

.teamPhoto_3-4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.photo_img {
  opacity: 1; }

.teamPhoto__name {
  color: #ffffff;
  text-align: center;
  font-size: 13px;
  text-transform: uppercase; }

.teamPhoto__name h3 {
  margin-top: 8px; }

.teamPhoto__name p {
  margin-top: 8px; }

.button-team {
  text-transform: uppercase;
  font-size: 16px;
  width: 140px;
  margin: 0 auto; }

.dreamTeam {
  margin: 60px auto 20px auto;
  color: #f3f3f3;
  text-align: center;
  font-size: 14px; }

.worksTitle {
  max-width: 940px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 70px auto; }

.OurWorks {
  text-transform: uppercase;
  text-align: center; }

.works__textSize {
  font-size: 25px; }

.worksPhotos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1650px;
  margin: auto; }

.worksPhoto {
  min-width: 270px;
  max-width: 315px;
  min-height: 200px;
  max-height: 250px; }

.worksPhoto:nth-child(4n+1) {
  background-color: #b6b6b6;
  background-size: cover; }

.worksPhoto:nth-child(4n+2) {
  background-color: #acacac;
  background-size: cover; }

.worksPhoto:nth-child(4n+3) {
  background-color: #a1a1a1;
  background-size: cover; }

.worksPhoto:nth-child(4n+4) {
  background-color: #8a8a8a;
  background-size: cover; }

.button-works {
  width: 120px;
  margin: 70px auto; }

.PeopleSay {
  background: url(../img/bg_sectionHeader.png.jpg) no-repeat center top/cover;
  position: relative; }

.PeopleSay-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #170e40;
  opacity: .85; }

.container {
  z-index: 2;
  position: relative; }

.slider-PeopleSay {
  margin-left: auto;
  margin-right: auto; }

.PeopleSay__Title {
  font-family: Myriad, serif;
  font-size: 100px;
  color: white;
  text-align: center;
  margin: 0 auto; }

.PeopleSay__Content {
  font-family: Myriad, serif;
  font-size: 16px;
  color: white;
  text-align: center;
  margin: 0 auto; }

.teamItemText_bold {
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-top: 50px; }

.teamItemText_size {
  color: white;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  opacity: .7;
  text-align: center;
  margin-top: 10px; }

.sliderDotted {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px; }

.sliderText {
  font-size: 20px;
  font-weight: 900;
  color: white; }

.sliderDotted__item {
  margin: auto 10px; }

.footer {
  background: url(../img/footer_logo.jpg) no-repeat center top/cover;
  color: #ffffff; }

.footer__content {
  display: flex;
  justify-content: center;
  font-family: Myriad sans-serif;
  flex-wrap: wrap; }

.footerBlock {
  text-align: left;
  padding: 10px;
  width: 310px; }

.footerBlock__logo {
  width: 130px; }

.footerBlock__title {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  margin-top: 20px; }

.address {
  display: flex;
  margin-top: 20px; }

.phone {
  display: flex;
  margin-top: 20px; }

.icon {
  padding-right: 15px; }

.footerTouch {
  padding: 10px; }

.subscribeBlock {
  display: flex;
  margin-top: 20px; }

.subscribeInput {
  background: none;
  padding: 10px 15px; }

.subscribeButton {
  height: 40px;
  width: 70px;
  background: gray;
  text-align: center;
  margin-left: 10px; }

.subscribeButton img {
  height: auto;
  width: auto;
  margin-top: 7px; }

.SocialMedia {
  display: flex;
  margin-top: 20px; }

.SocialMedia img {
  width: 40px;
  height: 40px;
  margin-right: 5px; }

.copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 65px; }

.copyright__left {
  display: flex;
  flex-wrap: wrap; }

.titleCopyright {
  font-size: 14px;
  padding-right: 30px;
  font-family: sans-serif;
  text-transform: none;
  color: white; }

@media screen and (max-width: 929px) {
  .blockMod_1 {
    border-bottom: 1px solid #78777b;
    border-right: 1px solid #78777b;
    border-top: none;
    border-left: none; }
  .blockMod_2 {
    border-bottom: 1px solid #78777b;
    border-right: none;
    border-top: none;
    border-left: none; }
  .blockMod_3 {
    border-bottom: 1px solid #78777b;
    border-right: 1px solid #78777b;
    border-top: none;
    border-left: none; }
  .blockMod_4 {
    border-bottom: 1px solid #78777b;
    border-right: none;
    border-top: none;
    border-left: none; }
  .blockMod_5 {
    border-bottom: none;
    border-right: 1px solid #78777b;
    border-top: none;
    border-left: none; } }

@media screen and (max-width: 619px) {
  .blockMod_1 {
    border-bottom: 1px solid #78777b;
    border-right: none;
    border-top: none;
    border-left: none; }
  .blockMod_2 {
    border-bottom: 1px solid #78777b;
    border-right: none;
    border-top: none;
    border-left: none; }
  .blockMod_3 {
    border-bottom: 1px solid #78777b;
    border-right: none;
    border-top: none;
    border-left: none; }
  .blockMod_4 {
    border-bottom: 1px solid #78777b;
    border-right: none;
    border-top: none;
    border-left: none; }
  .blockMod_5 {
    border-bottom: 1px solid #78777b;
    border-right: none;
    border-top: none;
    border-left: none; } }

@media screen and (max-width: 700px) {
  .mainHeader {
    flex-direction: column; }
  .mainHeaderNav {
    padding-top: 15px; }
  .mainHeader {
    flex-direction: column; }
  .mainHeaderNav__item {
    padding-top: 10px; }
  .slider-header {
    margin: 100px; }
  .button__header {
    margin: 10px; }
  .slider__dotter {
    margin: 50px; }
  .container-About {
    flex-direction: column; }
  .mainSectionAbout {
    width: auto; }
  .ourStory {
    padding-top: 10px;
    text-align: center; }
  .aboutText {
    text-align: center; }
  .mainSectionAbout {
    margin: auto; }
  .button-mod__About {
    margin: auto; } }

@media screen and (max-width: 540px) {
  .wrapper {
    margin: 10px auto;
    width: 200px;
    background-color: #00e0d0;
    position: relative;
    color: white;
    text-align: center;
    height: 40px; }
  #check-menu {
    display: none; }
  label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
    line-height: 40px; }
  .burger-line {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 35px;
    height: 2px;
    background-color: #fff;
    transition: .5s all; }
  .second, .third {
    top: 18px; }
  .fourth {
    top: 28px; }
  .main-menu {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    transition: .5s all; }
  .main-menu a {
    display: block;
    width: 100%;
    padding: 10px;
    color: white;
    text-decoration: none;
    border: 2px solid #00e0d0;
    background-color: #170e40; }
  .main-menu a:hover {
    background-color: #00e0d0; }
  #check-menu:checked ~ .main-menu {
    max-height: 500px;
    font-size: 16px; }
  #check-menu:checked ~ .first {
    display: none; }
  #check-menu:checked ~ .second {
    transform: rotate(45deg); }
  #check-menu:checked ~ .third {
    transform: rotate(-45deg); }
  #check-menu:checked ~ .fourth {
    display: none; }
  .mainHeaderNav {
    display: none; }
  .mainHeader {
    flex-direction: column; }
  .mainHeaderNav {
    padding-top: 15px; }
  .mainHeader {
    flex-direction: column; }
  .mainHeaderNav__items {
    flex-direction: column; }
  .mainHeaderNav__item {
    padding-top: 10px; }
  .slider-header {
    margin: 20px; }
  .button__header {
    margin: 10px; }
  .slider__dotter {
    margin: 50px; }
  .container-About {
    flex-direction: column; }
  .ourStory {
    padding-top: 10px;
    text-align: center; }
  .mainSectionAbout {
    margin: auto; }
  .button-mod__About {
    margin: auto; } }

@media screen and (min-width: 540px) {
  .wrapper {
    display: none; } }

@media screen and (max-width: 400px) {
  .sliderDotted__item {
    margin: auto 2px; } }

@media screen and (max-width: 652px) {
  .copyright {
    justify-content: center; } }

@media screen and (max-width: 352px) {
  .titleCopyright {
    padding-right: 5px; } }
