body{
    font-family: Arial, sans-serif;
    margin: 3% auto;
    width: 1000px;
}
.header {
    display: flex;
    height: auto;
    width: 100%;
}
.freespace{
    flex-grow: 20;
}
img {
    width: 100%;
    height: 100%;
}
.card_product {
    display: flex;
    color: gray;
    justify-content: left;
    font-size: 20px;
    flex-grow: 1;
}
.articul{
    display: flex;
    font-size: 20px;
    color: gray;
    flex-grow: 1;
    justify-content: right;
}
.number{
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 0 2px;
    flex-grow: 1;
}
.content{
    border: 1px solid black;
    margin-bottom: 15px;
    box-shadow: 0 20px 30px rgba(0,0,0,0.19), 0 10px 10px rgba(0,0,0,0.23);
    width: 100%;
}
.Phone_name{
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    border-bottom: 3px solid rgba(0, 0, 255, 0.51);
    color: rgba(0, 0, 255, 0.51);
    padding-bottom: 15px;
    width: 100%;
}
.main{
    display: flex;
}
.photos {
    display: flex;
    flex-direction: column;
    width: 46%;
    margin: 2% 2%;
}
.big_photo{
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: relative;
}
.big_photo img{
    position: relative;
}
.skidka{
    border-radius: 50% 50% 0 50%;
    position: absolute;
    top: -10%;
    left: 5%;
    background: rgba(255, 0, 0, 0.5);
    color: #ffffff;
    font-size: 30px;
    width: 140px;
    height: 140px;
    display: inline-flex;
    text-align: center;
    align-items: center;
    z-index: 1;
}
.small_photo {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.small_photo img{
    width: 20%;
    transition: all .5s;
}
.characteristics{
    width: 46%;
    margin: 2%;
    font-size: 20px;
}
.harater{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    opacity: .5;
    padding-bottom: 5px;
    border-bottom: 1px solid gray;
    width: 100%;
}
.display{
    margin: 3% 10% 3% 10%;
    display: flex;
    flex-direction: column;
    font-size: 35px;
    text-decoration: underline;
    font-weight: bold;
    padding-top: 10px;
}
ul{
    padding: 0 0 0 20px;
}
li {
    list-style: none;
    font-size: 25px;
}
.opis_short {
    margin: 1% 5%;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    width: 90%;
}
.opis{
    margin: 1% 5%;
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
    width: 90%;
}
.detalno{
    margin: 1% 5%;
    font-size: 20px;
    padding-bottom: 5px;
}
.img_1:hover {
    transform: translate(100px, -250px) scale(3);
    transition: all .5s;
}
.img_2:hover {
    transform: translate( 0, -250px) scale(3);
    transition: all .5s;
}
.img_3:hover {
    transform: translate(0, -250px) scale(3);
    transition: all .5s;
}
.img_4:hover {
    transform: translate(-90px, -250px) scale(3);
    transition: all .5s;

}
.skidka:hover{
    transform:  rotate(720deg);
    transition: all 1s;
    background-color: rgba(8, 255, 29, 0.6);
}

@media screen and (max-width: 1100px){
    body{
        width: 750px;     /*  1000-200  */
    }
    .card_product {
        font-size: 16px;   /*  20-4  */
    }
    .articul{
        font-size: 16px;   /*  20-4  */
    }
    .number{
        font-size: 16px;   /*  20-4  */
    }
    .content{
        margin-bottom: 12px;   /*  15-3  */
    }
    .Phone_name{
        font-size: 58px;  /*  70-12   */
        padding-bottom: 12px;  /*  15-3  */
    }
    .skidka{
        top: -8%;              /*  10-2  */
        left: 4%;             /*  5-1  */
        font-size: 24px;      /*  30-6  */
        width: 112px;       /*  140-28  */
        height: 112px;       /*  140-28  */
    }
    .characteristics{
        font-size: 16px;   /*  20-4  */
    }
    .harater{
        font-size: 40px;           /*  50-10  */
        padding-bottom: 4px;     /*   5-1  */
    }
    .display{
        margin: 3% 8% 3% 8%;  /*  3  10-2  3  10-2  */
        font-size: 29px;        /*  35-6  */
        padding-top: 8px;       /*  10-2  */
    }
    li{
        font-size: 20px;        /*  25-5  */
    }
    .opis_short {
        margin: 1% 4%;      /*  1  5-1  */
        font-size: 24px;        /*  30-6  */
        padding-bottom: 8px;        /*  10-2  */
    }
    .opis{
        margin: 1% 4%;      /*  1   5-1  */
        font-size: 18px;         /*  20-4  */
        padding-top: 8px;       /*  10-2  */
    }
    .detalno{
        margin: 1% 4%;      /*  1  5-1  */
        font-size: 18px;        /*  20-4  */
        padding-bottom: 4px;        /*  5-1  */
    }
    .img_1:hover {
        transform: translate(80px, -200px) scale(3);        /*  100-20   250-50  */
    }
    .img_2:hover {
        transform: translate( 0, -200px) scale(3);      /*  250-50  */
    }
    .img_3:hover {
        transform: translate(0, -200px) scale(3);       /*  250-50  */
    }
    .img_4:hover {
        transform: translate(-72px, -200px) scale(3);   /* 90-18  250-50  */
    }
}

@media screen and (max-width: 850px){
    body{
        width: 500px;     /*  1000-200-200  */
    }
    .photos{
        width: 90%;
    }
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .card_product {
        font-size: 20px;
    }
    .articul{
        font-size: 20px
    }
    .number{
        font-size: 20px;
    }
    .content{
        margin-bottom: 15px;
    }
    .Phone_name{
        font-size: 50px;
        padding-bottom: 15px;
    }
    .skidka{
        top: -10%;
        left: 5%;
        font-size: 30px;
        width: 140px;
        height: 140px;
    }
    .characteristics{
        font-size: 20px;
        width: 90%;
    }
    .harater{
        font-size: 50px;
        padding-bottom: 5px;
    }
    .display{
        margin: 3% 8% 3% 8%;
        font-size: 36px;
        padding-top: 8px;
    }
    li{
        font-size: 25px;
    }
    .opis_short {
        margin: 1% 5%;
        font-size: 30px;
        padding-bottom: 8px;
    }
    .opis{
        margin: 1% 4%;      /*  1   5-1  */
        font-size: 20px;
        padding-top: 8px;       /*  10-2  */
    }
    .detalno{
        margin: 1% 4%;
        font-size: 20px;
        padding-bottom: 4px;        /*  5-1  */
    }
    .img_1:hover {
        transform: translate(100px, -250px) scale(3);
    }
    .img_2:hover {
        transform: translate( 0, -250px) scale(3);
    }
    .img_3:hover {
        transform: translate(0, -250px) scale(3);
    }
    .img_4:hover {
        transform: translate(-90px, -250px) scale(3);
    }
}

@media screen and (max-width: 625px) {
            body {
                width: 290px; /*  1000-200-200-200  */
            }

            .card_product {
                font-size: 10px; /*  20-4-4-2  */
            }

            .articul {
                font-size: 10px; /*  20-4-4-2  */
            }

            .number {
                font-size: 10px; /*  20-4-4-2  */
            }

            .content {
                margin-bottom: 9px; /*  15-3-3  */
            }

            .Phone_name {
                font-size: 25px; /*  70-12-12-12   */
                padding-bottom: 6px; /*  15-3-3-3  */
            }
            .photos {
                width: 90%;}
            .skidka {
                top: -6%; /*  10-2-2-2  */
                left: 2%; /*  5-1-1-1  */
                font-size: 18px; /*  30-6-6  */
                width: 84px; /*  140-28-28  */
                height: 84px; /*  140-28-28  */
            }
            .main {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
            }
            .characteristics {
                font-size: 12px; /*  20-4-4  */
                width: auto;
            }
            .harater {
                font-size: 20px; /*  50-10-10-10  */
                padding-bottom: 3px; /*   5-1-1  */
            }
            .display {
                margin: 2% 6% 2% 6%; /*  3-1  10-2-2  3-1  10-2-2  */
                font-size: 18px; /*  35-6-6-5  */
                padding-top: 6px; /*  10-2-2  */
            }
            li {
                font-size: 13px; /*  25-5-5-2  */
            }
            .opis_short {
                margin: 1% 2%; /*  1  5-1-1-1  */
                font-size: 18px; /*  30-6-6  */
                padding-bottom: 4px; /*  10-2-2-2  */
            }
            .opis {
                margin: 1% 2%; /*  1   5-1-1-1  */
                font-size: 12px; /*  20-4-4-2  */
                padding-top: 4px; /*  10-2-2-2  */
            }
            .detalno {
                margin: 1% 2%; /*  1  5-1-1-1  */
                font-size: 12px; /*  20-4-4-2  */
                padding-bottom: 2px; /*  5-1-1-1  */
            }
            .img_1:hover {
                transform: translate(60px, -150px) scale(3); /*  100-20-20-20   250-50-50-50  */
            }
            .img_2:hover {
                transform: translate(0, -150px) scale(3); /*  250-50-50-50  */
            }
            .img_3:hover {
                transform: translate(0, -150px) scale(3); /*  250-50-50-50  */
            }
            .img_4:hover {
                transform: translate(-54px, -150px) scale(3); /* 90-18-18-18  250-50-50-50  */
            }
        }


