/* don't remove these styles */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-size: 20px;
}
.container {
  max-width: 1200px;
  margin: auto;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  margin-bottom: 10px;
}
h2,
li:hover {
  cursor: pointer;
}

/* =============== todo =================*/
h2{
  text-align: center;
}
h2:hover{
  color: red;
}
a{
  color: black;
  line-height: 30px;
}
.link:hover::after{
  content: "\25BA";
  color: red;
}
.next:hover{
  color: green;
  text-decoration: none;
}
.remix:hover{
  color: red;
  text-decoration: none;
  font-weight: bold;
}
.gallery{
  width: 100%;
  text-align: center;
}
img{
  width: 49%;
}
li:hover>span{
  color: red;
}

