* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}
img {
    width: 100%;
    height: auto;
}
ul,li {
    list-style-type: none;
}
.container{
    max-width: 960px;
    margin: 0 auto;
    height: 100%;
    padding: 70px 0;
}
.overlay{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #170e40;
    opacity: .85;
}
.slider{
    max-width: 780px;
}

.button {
    border: 2px solid #00e0d0;
    color: #00e0d0;
    border-radius: 5px;
    display: block;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    line-height: 40px;
    font-family: Myriad, sans-serif;
}
.button:hover{
    color: white;
    background: #00e0d0;
}


.section-header{
    background: url(../img/bg_sectionHeader.png) no-repeat center top / cover;
    height: 670px;
}
.container-header{
    padding-top: 15px;
    /*padding: 15px 0 0 0;*/
}
.mainHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mainHeader__logo{
    width: 130px;
}
.mainHeaderNav{

}
.mainHeaderNav__items{
    display: flex;
    align-items: center;
}
.mainHeaderNav__item{
    align-items: center;
}
.mainHeaderNav__item a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 13px;
    transition: color .2s;
    padding: 15px 10px;
}
.mainHeaderNav__item a:hover {
    color: #00e0d0;
    cursor: pointer;
}
.mainHeaderNav__item-active a{
    color: #00e0d0;
}

.slider-header{
    margin: 175px auto 0 auto;
    max-width: 800px;
    text-align: center;
    align-items: center;
}
.mainTitle{
    color: white;
    text-align: center;
    font-family: Playfair Display, sans-serif ;
    font-size: 32px;
    font-weight: bold;
}
.separator{
    width: 50px;
    border: 1px solid #00e0d0;
    margin: 25px auto 30px auto;
}
.innerContent{
    font-size: 14px;
    color: white;
    text-align: center;
    margin: 15px auto;
    font-family: Roboto, sans-serif ;
}

.button__header{
    margin: 50px auto 0 auto;

}
.button-mod{
    width: 120px;
    margin: 0 auto;
}
.slider__dotter {
    display: flex;
    justify-content: center;
    margin: 120px auto 0 auto;
}
.dotterItem{
    border: 1px solid #fff;
    width: 8px;
    height: 8px;
    margin: 0 2px;
    border-radius: 50%;
    transition: color .4s;
}
.dotterItem-active{
    border: 1px solid #00e0d0;
    background: #00e0d0;
    cursor: pointer;
}
.dotterItem:hover{
    border: 1px solid #00e0d0;
    background: #00e0d0;
    cursor: pointer;
}



.sectionAbout{
    font-family: Myriad, sans-serif;
}
.container-About{
    display: flex;
    justify-content: space-between;
}
.aboutLogo{
    max-width: 410px;
    margin: 0 auto;
}
.mainSectionAbout{
    align-items: center;
    width: 550px;
}
.ourStory{
    font-size: 22px    ;
    padding-bottom: 30px;
    font-family: Myriad, sans-serif;

}
.aboutText{
    font-size: 14px;
    padding-bottom: 30px;
}
.button-mod__About{
    width: 120px;
}

.section-play{
    background: url(../img/bg_sectionAbout.png) no-repeat center top / cover;
    height: 650px;
}
.container-play{
    display: flex;
    justify-content: center;
    vertical-align: middle;

}
.play__items{
    margin: auto;
    text-align: center;
}
.playButton:hover{
    background: #00e0d0;
    border-radius: 50%;
    opacity: 1 !important;
}
.watchOurStory{
    text-transform: uppercase;
    font-size: 16px;
    color: white;
    padding-top: 33px;
}




@media screen and (max-width:700px){
    .mainHeader{
        flex-direction: column;
    }
    .mainHeaderNav{
        padding-top: 15px;
    }
    .mainHeader{
        flex-direction: column;
    }
    .mainHeaderNav__item{
        padding-top: 10px;
    }
    .slider-header{
        margin: 100px;
    }
    .button__header{
        margin: 10px;
    }
    .slider__dotter{
        margin: 50px;
    }
    .container-About{
        flex-direction: column;
    }
    .mainSectionAbout{
        width: auto;
    }
    .ourStory{
        padding-top: 10px;
        text-align: center;
    }
    .aboutText{
        text-align: center;
    }
    .mainSectionAbout{
        margin: auto;
    }
    .button-mod__About{
        margin: auto;
    }
}
@media screen and (max-width:540px){
    .mainHeader{
        flex-direction: column;
    }
    .mainHeaderNav{
        padding-top: 15px;
    }
    .mainHeader{
        flex-direction: column;
    }
    .mainHeaderNav__items{
    flex-direction: column;
    }
    .mainHeaderNav__item{
        padding-top: 10px;
    }
    .slider-header{
        margin: 20px;
    }
    .button__header{
        margin: 10px;
    }
    .slider__dotter{
        margin: 50px;
    }
    .container-About{
        flex-direction: column;
    }
    .ourStory{
        padding-top: 10px;
        text-align: center;
    }
    .mainSectionAbout{
        margin: auto;
    }
    .button-mod__About{
        margin: auto;
    }
}