@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@300;400&display=swap');

*{
    box-sizing: border-box;
}
.container{
    width: 60%;
    margin: auto;
}
.header{    
    display: flex;
    flex-direction: column;
    font-family:  'Ubuntu';
}
.header__logo{
    max-width: 280px;
}
.header__logo-img{
    width: 90%;
    max-width: 280px;
}
.header__lang{
    font-size: 1em;
    font-weight: 300;
    text-align: end;
    line-height: 18px
}
.header__doc, .header__use{
    font-size: 1em;
    font-weight: 400;
    margin-top: 12px;
}
.header__slash{
    display: none;
}
.header__using{
    font-family: Roboto;
    font-size: 1.4em;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 1.44px; 
    text-align: center;
    margin-top: 20px;
}
.header__using-img{
    width: 2rem;
    max-width: 55px;
    vertical-align: middle;
}